{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<center><h1>{{ contacts }}</h1></center>

<center>
    <div class="nesolestag-enadenud">
      <h4 class="aio-icon-title">Address</h4>

      <div class="inline-block">
        <i style="padding-left:5px;" class="material-icons text-success md-24">home</i>
        1111111, city Warsaw, st. Winners,
        building 14, letter D, Cabinet # 31
      </div>
    </div><br>

      <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Working hours of warehouses and offices of the company:</h4>
        <div class="aio-icon-description">
          <i style="padding-left:5px;" class="material-icons text-success md-24">schedule</i>
        Monday.- Saturday. at 10:00 to 21:00, with pause
        Without weekends
        </div>
      </div><br>

      <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Email:</h4>
        <div class="aio-icon-description">
          <i style="padding-left:5px;" class="material-icons text-success md-24">mail</i>
          code.ninja.code1.@gmail.com
        </div>
      </div><br>

      <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Phone:</h4>
        <div class="aio-icon-description">
          <i style="padding-left:5px;" class="material-icons text-success md-24">call</i>
          +48000111222
        </div>
      </div><br>
      <span class="kesednsoled"></span>
    </div>
</center>
{% endblock content %}
