{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        .header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 2rem;
            background-color: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 2rem;
        }

        .profile {
            text-align: center;
            margin-bottom: 2rem;
        }

        .profile img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #333;
        }

        .username {
            font-size: 28px;
            margin-top: 1rem;
            color: #333;
        }

        .email {
            color: #777;
            margin-top: 0.5rem;
        }

        .actions {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }

        .action-btn {
            padding: 10px 20px;
            margin: 0 10px;
            font-size: 16px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .action-btn:hover {
            background-color: #555;
        }


        .category-wrap {
          padding: 15px;
          background: white;
          width: 400px;
          box-shadow: 2px 2px 8px rgba(0,0,0,.1);
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .category-wrap h3 {
          font-size: 16px;
          color: rgba(0,0,0,.6);
          margin: 0 0 10px;
          padding: 0 5px;
          position: relative;
        }
        .category-wrap h3:after {
          content: "";
          width: 6px;
          height: 6px;
          background: #80C8A0;
          position: absolute;
          right: 5px;
          bottom: 2px;
          box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
        }
        .category-wrap ul {
          list-style: none;
          margin: 0;
          padding: 0;
          border-top: 1px solid rgba(0,0,0,.3);
        }
        .category-wrap li {margin: 12px 0 0 0px;}
        .category-wrap h3 {
          text-decoration: none;
          display: block;
          font-size: 13px;
          color: rgba(0,0,0,.6);
          padding: 5px;
          position: relative;
          transition: .3s linear;
        }
        .category-wrap h3:after {
          content:"\f18e";
          font-family: FontAwesome;
          position: absolute;
          right: 5px;
          color: white;
          transition: .2s linear;
        }
        .category-wrap h3:hover {
          background: #80C8A0;
          color: white;
        }


        .image-container {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid black;
        }

        .image-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
</style>

    <div class="header">
        <h1>Welcome to personal account</h1>
    </div>
    <div class="container">
        <div class="profile">
            <center><div class="image-container">
                <img width="30px" height="30px"
                     src="{% if user.image %}
                            {{ user.image.url }}
                          {% else %}
                            {% static 'users/default_avatar.png' %}
                          {% endif %}"
                     class="img-thumbnail">
            </div></center>
                <center><div>
                <h2><strong>My information</strong></h2>
                    <div class="category-wrap">
                          <h3>Me</h3>
                          <ul>
                              <li><h3>{{ user.username }}</h3></li>
                              <li><h3>{{ user.first_name }}</h3></li>
                              <li><h3>{{ user.last_name }}</h3></li>
                              <li><h3>{{ user.email }}</h3></li>
                              <li><h3>{{ user.about }}</h3></li>
                          </ul>
                    </div>
                </div>
                </center>
        </div>
        <div class="actions">
            <a href="{% url 'shop:edit_profile' %}"><button class="action-btn">Редактировать профиль</button></a>
            <a href="#"><button class="action-btn">Изменить пароль</button></a>
            <a href="{% url 'shop:logout' %}"><button class="action-btn">Выйти</button></a>
        </div>
    </div>
{% endblock content %}


