{% extends 'shop/base.html' %}

{% block content %}
    <form action="{% url 'shop:search' %}" method="get">
         <input name="q">What you search?</input>
        <button class="btn btn-success">What you search</button>
    </form>

    <h1>Результаты поиска</h1>
    <p>Ваш запрос: " {{ query }} "</p>
        <ul>
            {% for product in products %}
                {% if product %}
                    <li>{{ product.name }} - {{ product.description }}</li>
                {% else %}
                    <li>По вашему запросу ничего не найдено.</li>
                {% endif %}
            {% endfor %}
        </ul>
{% endblock content %}
